node_modules
**/node_modules
.git
.env
.env.*
.env copy
packages/cli/src
packages/cli/node_modules
packages/server/dist
packages/server/node_modules
packages/database/node_modules
packages/shared/node_modules
*.md
.DS_Store
