API_URL=http://localhost:3000
DATABASE_URL=postgresql://neondb_owner:npg_gCIdknKZ9wp0@ep-winter-dust-ao94gmwa-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
GROQ_API_KEY=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
GOOGLE_GENERATIVE_AI_API_KEY=AQ.Ab8RN6LIzK8ZFzLC43c_HFnpVP1HVtxtj6Kc4iWoB2fM9wrzLg